.titulo-principal__numero span
  color: $color-sistema-texto
.etiqueta
  padding: 1px ​2px 1px !important


.fondo-video
  background-image: url(../assets/curso/fondo-video.png)
  background-size: cover
  background-repeat: no-repeat 
  background-position: bottom center
.bloque-fondo-figura
  background-image: url(../assets/curso/forma-figura.png)
  background-repeat: no-repeat
  background-size: 130px
  background-position: center left


.degrade-azul
  background: rgb(204,255,249)
  background: linear-gradient(90deg, rgba(204,255,249,1) 0%, rgba(137,255,242,1) 100%)



@media (max-width: $bp-max-md)
  .bloque-fondo-figura
    background-position: bottom left
